<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Image upload</title>
  </head>
  <script>
    const uploadImages = () => {
      const formRef = document.querySelector("#imageUploadForm");
      console.log("formRef", formRef);
    };
  </script>
  <body>
    <form method="post" id="imageUploadForm" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="sourceImage">Source Image</label>
      <input type="file" name="sourceImage" />
      <label for="checkprintImage">Checkprint Image</label>
      <input type="file" name="checkprintImage" />
      <button onclick="uploadImages()" type="submit">Upload</button>
    </form>
  </body>
</html>
